<header>
    <h1>POURINVENTORY</h1>
    <nav>
        <h2 ><a id= "<%= selected == "/" ? "selectedTab" : "" %>" href="/">HOME</a></h2>
        <h2 ><a id= "<%= selected == "categories" ? "selectedTab" : "" %>" href="categories">CATEGORIES</a></h2>
        <h2 ><a id= "<%= selected == "items" ? "selectedTab" : "" %>" href="items">ITEMS</a></h2>
        <h2 ><a id= "<%= selected == "addCategory" ? "selectedTab" : "" %>" href="addCategory">ADD A CATEGORY</a></h2>
        <h2 ><a id= "<%= selected == "addItem" ? "selectedTab" : "" %>" href="addItem">ADD AN ITEM</a></h2>
    </nav>
</header>