<header>
    <h1>POURINVENTORY</h1>
    <nav>
        <a id= "<%= selected == "/" ? "selectedTab" : "" %>" href="/">HOME</a>
        <a id= "<%= selected == "/categories" ? "selectedTab" : "" %>" href="/categories">CATEGORIES</a>
        <a id= "<%= selected == "/items" ? "selectedTab" : "" %>" href="/items">ITEMS</a>
        <a id= "<%= selected == "/addCategory" ? "selectedTab" : "" %>" href="/addCategory">ADD A CATEGORY</a>
        <a id= "<%= selected == "/addItem" ? "selectedTab" : "" %>" href="/addItem">ADD AN ITEM</a>
    </nav>
</header>