<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit item<%= item.name %></title>
</head>
<body>
    <%- include("./partials/header" , {selected:"/addItem"}) %>
    <main>
        <form id="deleteItem" style="visibility: hidden; position: absolute;"></form>
        <img src="<%= item.url %>" alt="<%= item.name %>">
        <form id="editItem">
            <label >
                TITLE:
                <input name="name" type="text" required pattern="[\w\s]{3,255}" value="<%= item.name %>">
            </label>
            <label >
                PRICE:
                <input name="price" type="number" required value="<%- item.price %>">
            </label>
            <label>
                STOCK:
                <input type="number" name="stock" value="<%- item.quantity %>">
            </label>
            <label>
                IMAGE URL:
                <input type="url" name="imageURL" value="<%= item.imageurl %>">
            </label>
            <label>
                CATEGORY:
<select name="category">
    <% const s = item.categoryID %>
    <option value="">Select a category</option>
    <option value="1" <%= s === 1 ? selected : "" %>>Electric Guitars</option>
    <option value="2" <%= s === 2 ? selected : "" %>>Amplifiers</option>
    <option value="3" <%= s === 3 ? selected : "" %>>Effects Pedals</option>
    <option value="4" <%= s === 4 ? selected : "" %>>Cables</option>
    <option value="5" <%= s === 5 ? selected : "" %>>Accessories</option>
</select>
            </label>
            <label>
                <textarea name="description" ><% item.description%></textarea>
            </label>
        </form>
        <button type="submit" form="editItem">EDIT</button>
        <button type="submit" form="deleteItem">DELETE</button>
    </main>
    <%- include("./partials/footer",{darkMode:darkMode}) %>
</body>
</html>